button {
animation-name: pulse;
animation-duration: 1s;
animation-iteration-count: infinite;

animation-direction: alternate;
background-color: lightBlue;
border-radius: 3px;
}
button:hover{
  cursor: pointer;
}

@keyframes pulse {
  from {
    border: 1px solid lightBlue;
  }

  to {
    border: 5px solid lightBlue;
  }
}

body {
  padding: 100px;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid #0080ff;
  border-bottom: 0px;
  border-left: 0px;
  border-top-right-radius: 50px;
  animation: spinner-anim 0.5s linear infinite;
  transform-origin: 0% 100%;
}

@keyframes spinner-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}