.move {
  transform: translate(250px);
}

.makeLarge {
  animation: makeLarge 10s steps(10, end) 0s;
}

.makeSmall {
  animation: makeSmall 10s steps(10, end) 0s;
}

@keyframes makeLarge {
  0% {
    height: 43px;
    width: 56px;
  }
100%{
  height: 432px;
  width: 562px;
}
}

@keyframes makeSmall {
  0% {
    height: 432px;
    width: 560px;
  }
  100% {
    height: 43px;
    width: 56px;
  }
}
